body {
    background: #f8f8f8;
    margin: 0%;
}

.header {
    background-color: #ffffff;
}

.burger {
    background-color: #ffffff;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
}

.burger1 {
    background-color: #ffffff;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 28%
}

.burger2 {
    margin-left: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.burger3 {
    margin-left: 10px;
    text-align: center;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
}

.burger4 {
    margin-left: 15px;
    text-align: center;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
}