body {
    background: #f8f8f8;
    margin: 0%;
}

.header {
    background-color: #ffffff;
}

.burger {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
}

/* // cps */
.burger1 {
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 96px;
}


/* divivdeer */
.burger2 {
    margin-left: 10px;
    margin-bottom: 15px;
}


/* gaika */
.burger3 {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
}

/* checkstatus */
.burger4 {
    margin-left: 20px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
}

.burger5 {
    display: none;
    margin-left: 10px;
    margin-bottom: 15px;
}

.burger6 {
    display: none;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
}

.burger7 {
    display: none;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
}

.burger8 {
    display: none;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
}

@media (min-width: 768px) {
    .burger1 {
        position: absolute;
        margin-left: 3%;
    }
    .burger3 {
        margin-left: 75%;
    }

    .burger4 {
        margin-left: 1%;
    }
    
    .burger5 {
        display: flex;
        position: absolute;
        margin-top: -10px;
        margin-left: 82%;
    }
    .burger6 {
        display: flex;
        position: absolute;
        margin-top: -7.5%;
        margin-left: 75%;
    }

    .burger7 {
        display: flex;
        position: absolute;
        margin-top: -7.5%;
        margin-left: 68%;
    }

    .burger8 {
        display: flex;
        position: absolute;
        margin-top: -7.5%;
        margin-left: 60.9%;
    }

}

.highlight {
    position: absolute;
}

.USLUG {
    margin-left: 5%;
}

@media (min-width: 768px) { 
    .USLUG {
        margin-left: 2%;
    }
}

.swiper {
    border-radius: 10px;
    padding: 20px;
  }

.swiper-slide {
    color: #7E7E82;
    font-size: 20px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 5%;
    padding-left: 1%;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .swiper {
        padding: 1%;
    }
    .swiper-slide {
        color: #7E7E82;
    font-size: 20px;
    text-align: left;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-left: 3%;
    padding-left: 3%;
    border-radius: 10px;
    margin-right:-60%;
    }
}

.text {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 3%;
    font-size: 17px;
    line-height: 20px;
}

.expand {
    margin-top: -1%;
    margin-left: 5%;
    width: 26px;
    position: absolute;
}

.text1 {
    margin-left: 15%;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #7E7E82;
}

.pic {
    width: 100%;
}

.text2 {
    margin: 5%;
    font-size: 16px;
    text-transform: uppercase;
    color: #7E7E82;
}

.swiper-slide img {
    object-fit: cover;
    padding-right: 100%;
  }

.text3 {
    margin: 5%;
    font-size: 16px;
    text-transform: uppercase;
    color: #7E7E82;
}

.text4 {
    margin-left: 5%;
    font-size: 18px;
    margin-right: 20%;
    position: absolute;
    margin-bottom: 0%;
}

.more {
    margin-left: 38%;
    margin-top: 9.5%;
}

.podval {

    margin-top: 100px;
    text-align: center;
    margin: 0%;
    color: #7E7E82;
}

hr {
    border: none; /* Убираем границу */
    background-color: #2acca1; /* Цвет линии */
    color: #078b68; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
   }





